<div class="product-gallery-message">
    <div class="gallery-message-content">
        <h3><span>Need any help or advice?</span> Give us a call today and speak to one of our experts.</h3>
    </div>
    <div class="gallery-message-phone">
        {% include 'icon-library', id: 'icon-user-staff' %}
        <a href="tel:{{ shop.phone }}">{{ shop.phone }}</a>
    </div>
</div>
